public/pdw-assets/
app/config/server.php
public/files
node_modules
bower_components
composer.lock
vendor
/index.html
*.komodoproject
*.komodotools
cache
libs.min.js
scripts.min.js
scripts.min.js.map
*.log
builds
.idea
config.json
static/styles/css/style.min.css