<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<meta name="theme-color" content="#3C8DBC">
	<style>
		.navbar-text{
			color:#fff;
		}

		.container-fluid.content-wrapper{
			margin-left:0;
		}
	</style>
	<title>Выгрузка {{date}} - Школьный медиаархив</title>
	{{{assets}}}
</head>
<body class="skin-blue fixed sidebar-mini">
	<div class="wrapper">
		<div id="main" class="screen">
			<header class="main-header">
				<!-- Logo -->
				<a href="#events" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini"><b>М</b>А</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><i class="fa fa-folder"></i> Медиаархив</span>
				</a>
				<nav class="navbar navbar-static-top" role="navigation">
					<b class="navbar-text">выгрузка {{date}}</b>
					<p class="navbar-text pull-right">Нажмите <kbd>CTRL+F</kbd> для поиска</p>
				</nav>
			</header>
		
			<div class="container-fluid content-wrapper" id="pages">
				<div data-page="events" class="page">
					<section class="content">
						<div class="small-box bg-aqua">
							<div class="inner">
								<h3 id="events_count">{{count}}</h3>
								<p>мероприятий</p>
							</div>
							<div class="icon">
								<i class="fa fa-calendar-o"></i>
							</div>
						</div>
						<ul class="timeline" id="events_content">
							{{#each index}}
								<li class="event">
									<i class="fa fa-calendar-o bg-blue"></i>
									<div class="timeline-item">
										<span class="time"><i class="fa fa-clock-o"></i> {{date.day}}.{{date.month}}.{{date.year}}</span>
										<h3 class="timeline-header">
											<a href="{{../public_root_url}}/архив/{{dir}}/" target="_blank">
												{{name}}
											</a>
										</h3>
									</div>
								</li>
							{{/each}}
						</ul>
					</section>
				</div>
				<hr>
				<p>
					&copy; 2015-2016 <a href="http://ma.atnartur.ru" target="_blank">Медиаархив</a>
				</p>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$('.event').click(function(){
				$(this).find('.timeline-item .timeline-header a').click();
			});
		});
	</script>
</body>
</html>