<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Школьный медиаархив</title>
    
    <script>
        const $ = jQuery = require('jquery');
        // var gui = require('nw.gui');
        // var win = gui.Window.get();
        var config = require('./config');
    </script>

    {% for src in assets.js.external %} <script src="{{src}}"></script> {% endfor %}
    <script src="dist/src.min.js"></script>
    
    {% for src in assets.css.external %} <link rel="stylesheet" href="{{src}}"> {% endfor %}
    {% for src in assets.css.internal %} <link rel="stylesheet" href="{{src}}"> {% endfor %}
</head>
<body class="skin-blue fixed sidebar-mini lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="#">
                <i class="fa fa-folder"></i><br>
                Медиаархив
            </a>
            <br>
            <small>загрузка приложения...</small>
        </div>
        <hr>
        <div class="lockscreen-footer text-center">
            &copy; 2015-2016 <a href="http://clienddev.ru">ClienDDev team</a> & others<br>
        </div>
    </div>
    
    <div class="wrapper">
        <div id="main" class="screen">
            <header class="main-header">
                <!-- Logo -->
                <a href="#events" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>М</b>А</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><i class="fa fa-folder"></i> Медиаархив</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                                
                        </ul>
                            <!--<div class="navbar-form navbar-left">
                                <div class="input-group" id="datepicker_form">
                                    <span class="input-group-addon" id="date_start_helper">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input class="form-control" id="datepicker" name="text">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-chevron-down"></i></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li id="today"><a>За сегодня</a></li>
                                            <li id="week"><a>За неделю</a></li>
                                            <li id="month"><a>За месяц</a></li> 
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                        <ul class="nav navbar-nav">
                            <li><a href="#settings"><i class="fa fa-gears"></i> Настройки</a></li>  
                        </ul>
                    </div>
                </nav>
            </header>
            
            <aside class="main-sidebar">
                <section class="sidebar">        
                    <div class="sidebar-form">
                        <input type="text" id="search" placeholder="Поиск по мероприятиям" class="form-control">
                    </div>
                    
                    <ul class="sidebar-menu">
                        <li><a href="#" id="add_event"><i class="fa fa-plus"></i> <span>Добавить событие</span></a></li>
                        <li><a href="#" id="open_folder_button"><i class="fa fa-folder-o"></i> <span>Открыть папку</span></a></li>
                        <li><a href="#" id="update_index_button"><i class="fa fa-refresh"></i> <span>Обновить список</span></a></li>
                        <li><a href="#" id="load_email_button"><i class="fa fa-envelope-o"></i> <span>Загрузить с почты</span></a></li>
                    </ul>
                </section>
            </aside>
        
        
        
            <div class="container-fluid content-wrapper" id="pages">
                <div data-page="settings" class="page" id="settings">
                    <div class="content-header">
                        <h1>Настройки</h1>
                    </div>
                    <section class="content">
                        <form class="form-horizontal" id="settings_form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Тип данных</label>
                                <div class="col-sm-10">
                                    <select name="data_type" id="data_type" class="form-control">
                                        <option value="">Выбрать</option>
                                        <option value="files">Файлы</option>
                                        <option value="yadisk">Яндекс Диск API</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Корневая директория</label>
                                <div class="col-sm-10" id="root_dir">
                                    <div id="files">
                                        <div class="btn btn-primary" id="root_dir_file_selector"><i class="fa fa-folder"></i> выбрать папку</div>
                                    </div>
                                    <div id="yadisk">
                                        <div class="btn btn-default" id="choose">Выбрать</div>
                                    </div>
                                    <div id="nothing">
                                        <p class="help-block">выберите тип данных</p>
                                    </div>
                                    <p class="help-block">Сейчас: <span id="dir">(пусто)</span></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">ВКонтакте</label>
                                <div class="col-sm-10" id="vk">
                                    <button class="btn btn-primary" id="vk_button" type="button"><i class="fa fa-vk"></i> Подключить ВКонтакте</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" id="start_button" class="btn btn-primary">Продолжить</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div data-page="events" class="page">
                    <div class="content-header">
                        <h1>Мероприятия</h1>
                    </div>
                    <section class="content">
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3 id="events_count"></h3>
                                <p>мероприятий</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-calendar-o"></i>
                            </div>
                        </div>
                        <ul class="timeline" id="events_content"></ul>
                    </section>
                </div>
            </div>
        </div>
    
    </div>
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal_header" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
                    <h1 class="modal-title" id="modal_header"></h1>
                </div>
                <div class="modal-body" id="modal_body"></div>
            </div>
        </div>
    </div>

    {{client_templates|safe}}
</body>
</html>